<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Erro ao processar a solicitação</title>
        <style type="text/css">
            body {
                text-align: center;
                padding-top: 10%;
            }
        </style>
    </head>
    <body>
        <hgroup>
            <h2>Houve um problema técnico ao processar a sua solicitação</h2>
            <h3>Por favor, entre em contato com o atendimento / suporte técnico e reporte o ocorrido</h3>
            <h4>Pedimos desculpas pelo transtorno</h4>
        </hgroup>
    </body>
</html>
